
*
{ margin:0;
  padding:0;
 
}
body
{  
   background-position:center;
   box-sizing: border-box;
 background: linear-gradient(90deg, rgba(161, 123, 182, 0.8)30%, rgba(159, 234, 226, 0.8) 50%);

}

.contain
{max-width: 2000px;
 margin: auto;
padding-left: 20px;
padding-right: 20px;}

/*------------navbar center--------*/
.navbar
{
  text-align:center;
}
.navbar ul 
{  display :inline-flex;
   list-style: none;
   color:#B2D9EA;
}
.navbar ul li
{ width:120px;
  margin:15px;
  padding:15px; 
}
/*------------tulisan gray untuk link--------*/
a{
  text-decoration: none;
  color:#555;
  font-size:20px;
}

/*------------tulisan black taskbar--------*/
p{ color: #555;
}
.navbar ul li a
{text-decoration:none;
color:#000000;
} 

.active,.navbar ul li:hover
{background:transparent;
 border-radius:3px;
}
.navbar .fa
{ margin-right: 8px;
}
.sub-navbar-1
{ display:none;
  
}  
/*------------list health info size,colour--------*/
.navbar ul li:hover .sub-navbar-1
{ display:block;
position:absolute;
background:#B2D9EA; 
margin-top: 15px;
margin-left:-15px;
}
/*------------narvar dalam list menegak--------*/
.navbar ul li:hover .sub-navbar-1 ul
{display:block;
 margin:10px;
}
.navbar ul li:hover .sub-navbar-1 ul li
{ width:150px;
  padding:10px;
  border-bottom:1px dotted #fff;
  background: transparent;
  border-radius:0;
  text-align:left;
}
/*------------list health info size,colour--------*/
