* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   background-color: #ffcc99;
}

.topnav {
  width: 100%;
  overflow: auto;
}

.topnav a {
  float: right;
  color: #b06b4f;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 9px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #b06b4f;
}

.logo {
  background-color: #d3ac9d;
  text-align: center;
  
}
/*Search*/
form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #ffff99;
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background:  #ffff99;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: 	#ffff66;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


/* Add a black background color to the top navigation */
.nav {
  overflow: hidden;
  background-color: #d3ac9d;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #4CAF50;
  color: white;
}

/*down list*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: Bisque;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.logo.dropdown-content a:hover {
  background-color: Bisque;
}

.dropdown:hover .dropdown-content {
  display: block;
}
